<!DOCTYPE html>
<html>
<head>
  <title>Byufeeds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center">Cougarboard Top 10 RSS Feed</a>
        <ul>
          <li><a href="http://derrick.work">Made by Derrick</a></li>
        </ul>
      </div>
    </nav>
  </div>

<%= yield %>

</body>
</html>
